* {
  user-select: none;
}
body {
  background-color: #151515;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%231F1F1F' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 20vw;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}
#arrow {
  display: flex;
  position: fixed;
  border: 0.15vw solid rgb(149, 255, 251);
  border-bottom: none;
  border-top: none;
  height: 100%;
  width: 4.5vw;
  margin-left: -0.7vw;
  justify-content: center;
  align-items: center;
  transition: transform 500ms;
  background-color: rgb(71, 71, 71);
  z-index: 1;
  background-color: #151515;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%231F1F1F' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: 20vw;
  z-index: 10;
}
#arrow:hover {
  transform: translate(20vw);
}

#arrowicon {
  font-size: 2.5vw;
  color: rgb(149, 255, 251);
}

#nav {
  border-right: 0.15vw solid rgb(149, 255, 251);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 21vw;
  height: 100%;
  transform: translate(-12vw);
  margin: -0.7vw 0px -0.7vw -0.7vw;
  z-index: 1;
  background-color: rgb(71, 71, 71);
  background-color: #151515;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%231F1F1F' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: absolute;
  background-size: 20vw;
}

.selectedbutton {
  width: 9vw;
  height: 3vw;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  background: none;
  border: none;
  color: rgb(149, 255, 251);
  border-bottom: 0.15vw solid rgb(149, 255, 251);
}
.selectedbutton:hover {
  cursor: pointer;
}
.navbutton {
  width: 9vw;
  height: 3vw;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  background: none;
  border: none;
  transition: 250ms;
  color: rgb(149, 255, 251);
}
.navbutton:hover {
  cursor: pointer;
  border-bottom: 0.2vw solid rgb(149, 255, 251);
}
.navbutton:active {
  width: 8vw;
  height: 2.5vw;
  font-size: 1.7vw;
}
.navbutton,
.selected:hover,
.selected:active {
  cursor: default;
  width: 9vw;
  height: 3vw;
  font-size: 2vw;
  border-bottom: none;
}
.container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: -8px;
  width: 100%;
  height: 1rem;
}

#head {
  border: 2px solid black;
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.15vw solid rgb(149, 255, 251);
  height: 8vw;
  width: 100vw;
  float: right;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 5;
  background-color: #151515;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%231F1F1F' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: 20vw;
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 17%;
  left: 3.7%;
  right: 0%;
  float: right;
  height: 82%;
  width: 96.2%;
}

#picture {
  position: relative;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border: 0.15vw solid rgb(149, 255, 251);
  object-fit: cover;
}

#name {
  font-size: 3vw;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(149, 255, 251);
}

.aboutme {
  display: flex;
  align-items: center;
  width: 40vw;
  height: 20vw;
  color: rgb(149, 255, 251);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  text-align: center;
}

/* V projects V */

#projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 75%;
  height: 75%;
  position: absolute;
  justify-content: space-evenly;
  right: 13%;
  top: 8vw;
}
.projectitem {
  display: flex;
  margin-top: 5vw;
  margin-bottom: 0;
  height: 20vw;
  width: 25vw;
  margin: 5vw;
  margin-bottom: 0;
  justify-content: space-evenly;
  border-radius: 2vw;
}
.previewtext {
  text-align: center;
  color: white;
  font-size: 1vw;
}
.center {
  display: block;
  width: max-content;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
}
.projectimage {
  border-radius: 1.5vw;
  overflow: hidden;
  width: 100%;
  height: 70%;
  object-fit: cover;
  border: 0.5vw solid black;
}
.about {
  display: flex;
  align-items: center;
  border: 0.5vw solid black;
  height: 14vw;
  width: 24vw;
  position: absolute;
  border-radius: 1.5vw;
  background-color: rgb(52, 52, 52);
  color: rgb(149, 255, 251);
  text-align: center;
  text-shadow: 2px, 2px lightgray;
  font-size: 2vw;
}
.hidden {
  display: none;
}
.button {
  user-select: none;
  position: absolute;
  margin-top: 15.5vw;
  margin-right: 14vw;
  width: 9vw;
  height: 3vw;
  border: 0.5vw solid black;
  border-radius: 2vw;
  background-color: rgb(41, 41, 41);
  text-align: center;
  font-size: 1.5vw;
  line-height: 3vw;
  color: rgb(149, 255, 251);
}
.button:hover {
  cursor: pointer;
  background-color: rgb(56, 56, 56);
}
.visit {
  user-select: none;
  position: absolute;
  margin-top: 15.5vw;
  margin-left: 14vw;
  width: 9vw;
  height: 3vw;
  border: 0.5vw solid black;
  border-radius: 2vw;
  background-color: rgb(41, 41, 41);
  text-align: center;
  font-size: 1.5vw;
  line-height: 3vw;
  color: rgb(149, 255, 251);
  text-decoration: none;
}
.visit:hover {
  cursor: pointer;
  background-color: rgb(56, 56, 56);
}
::-webkit-scrollbar {
  width: 1vw;
  border-left: 0.2vw solid rgb(149, 255, 251);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(149, 255, 251);
}
::-webkit-scrollbar-track {
  background-color: rgb(41, 41, 41);
}
.pointing {
  width: 3vw;
  height: 3vw;
  position: absolute;
  left: 2.8vw;
  font-size: 2.5vw;
  text-align: center;
  color: rgb(149, 255, 251);
  line-height: 3vw;
}
.pointing2 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  top: 9.5vw;
  left: 2.8vw;
  font-size: 2.5vw;
  text-align: center;
  color: rgb(149, 255, 251);
  line-height: 3vw;
}
.pointing3 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  bottom: 9.5vw;
  left: 2.8vw;
  font-size: 2.5vw;
  text-align: center;
  color: rgb(149, 255, 251);
  line-height: 3vw;
}
#contact {
  position: absolute;
  top: 12.5vw;
  left: 22vw;
  width: 55vw;
  height: 30vw;
  background-color: rgb(41, 41, 41);
  border-radius: 2vw;
  border: 0.2vw solid rgb(149, 255, 251);
  text-align: center;
}
#email {
  resize: none;
  border-radius: 0.5vw;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 40vw;
  height: 6vw;
  top: 17vw;
  left: 7vw;
  background-color: rgb(68, 68, 68);
  color: rgb(149, 255, 251);
  font-size: 1.25vw;
  border: 0.2vw solid rgb(149, 255, 251);
  text-align: center;
}
.bluetext {
  color: rgb(149, 255, 251);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
}
.selectable {
  user-select: text;
}
hr {
  background-color: rgb(149, 255, 251);
  border-color: rgb(149, 255, 251);
}
#send {
  position: absolute;
  bottom: 1.25vw;
  left: 22vw;
  width: 10vw;
  height: 3vw;
  background-color: rgb(45, 45, 45);
  border: 0.2vw solid rgb(149, 255, 251);
  border-radius: 1vw;
  color: rgb(149, 255, 251);
  font-size: 2vw;
  line-height: 3vw;
}
#send:hover {
  background-color: rgb(68, 68, 68);
  cursor: pointer;
}
@media (max-width: 769px) and (orientation: portrait) {
  body {
    background-size: 4vw;
  }
  .box2 {
    flex-direction: column;
    justify-content: space-evenly;
    background-size: 4vw;
  }
  #picture {
    width: 50%;
    height: 45%;
  }
  .about {
    font-size: 5vw;
    width: 75%;
  }
  .box {
    height: 15vw;
    margin-top: 8vw;
    border-top: 0;
    background-size: 4vw;
  }
  .aboutme {
    font-size: 5vw;
    width: 55%;
  }
  #name {
    font-size: 8vw;
  }
  #arrow {
    position: absolute;
    border-bottom: 0.15vw solid rgb(149, 255, 251);
    border-right: 0;
    border-left: 0;
    transform: translateY(-0.5vw);
    height: 8.4vw;
    width: 100%;
    margin: 0;
    transition: transform 500ms;
    background-size: 4vw;
  }
  #arrow:hover {
    transform: translateY(15vw);
  }

  #arrowicon {
    transform: rotate(90deg);
    font-size: 5vw;
    color: rgb(149, 255, 251);
  }
  #nav {
    border-bottom: 0.15vw solid rgb(149, 255, 251);
    flex-direction: row;
    border-left: 0;
    border-right: 0;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 15vw;
    transform: translateY(-11.3vw);
    margin: -0.7vw 0px -0.7vw -0.7vw;
    background-size: 4vw;
  }

  .selectedbutton {
    width: 15vw;
    height: 6vw;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    border: none;
    color: rgb(149, 255, 251);
    border-bottom: 0.15vw solid rgb(149, 255, 251);
  }
  .selectedbutton:hover {
    cursor: pointer;
  }
  .navbutton {
    width: 18vw;
    height: 6vw;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    border: none;
    transition: 250ms;
    color: rgb(149, 255, 251);
  }
  .navbutton:hover {
    cursor: pointer;
    border-bottom: none;
  }
  .navbutton:active {
    width: 18vw;
    height: 6vw;
  }
  /* V Projects V */
  #projects {
    margin-top: 20vw;
  }
  .projectitem {
    height: 40vw;
    width: 50vw;
    margin-bottom: 2vw;
  }
  .projectimage {
    border: 1vw solid black;
  }
  .button {
    width: 20vw;
    height: 6vw;
    margin-top: 31vw;
    margin-right: 28vw;
    border-radius: 5vw;
    font-size: 4.5vw;
    line-height: 6vw;
  }
  .visit {
    width: 20vw;
    height: 6vw;
    margin-top: 31vw;
    margin-left: 28vw;
    border-radius: 5vw;
    font-size: 4.5vw;
    line-height: 6vw;
  }
  .about {
    height: 28vw;
    width: 48vw;
    border: 1vw solid black;
    font-size: 4vw;
  }
  .button:hover,
  .visit:hover {
    background-color: rgb(41, 41, 41);
  }
  /* contact vvv */
  #contact {
    top: 43vw;
    left: 12%;
    height: 52%;
    width: 75%;
  }
  #email {
    top: 65%;
    height: 20%;
    left: 22%;
  }
  .bluetext {
    font-size: 175%;
  }
  .selectable {
    font-size: 5vw;
  }
  .pointing,
  .pointing2,
  .pointing3 {
    display: none;
  }
  .selected {
    border-bottom: 0.5vw solid rgb(149, 255, 251);
  }
}

@media (max-height: 769px) and (max-width: 1025px) and (orientation: landscape) {
  #picture {
    height: 50%;
    width: 30%;
  }
  .aboutme {
    font-size: 125%;
  }
  /* Projects */
  #projects {
    width: 80%;
    left: 10vw;
    height: 85%;
  }
  /* contact */
}
