.menuButton {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-top: 8px;
  height: 5rem;
  width: 5rem;
  border: 2px solid black;
  transition: transform 250ms;
  transform: scale(85%);
}
.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(233, 233, 233);
  overflow-x: hidden;
  transition: 0.3s;
}
.menuButton:hover {
  transform: scale(100%);
  cursor: pointer;
}
#closeMenu {
  font-size: 40px;
  text-align: center;
  margin-left: 8px;
  padding-left: 1.3rem;
  padding-bottom: 0.2rem;
}
#openMenu {
  font-size: 40px;
  text-align: center;
}
